* {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* hero section started*/

.Hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
/* Navigation Bar Started */
.Navigation {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.Logo-nav {
  height: 50%;
  width: auto;
}
.Link-bundle {
  width: 380px;
  list-style: none;
  color: black;
  display: flex;
  justify-content: space-between;
}
#link-h1 {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.G-E-Access-Button {
  height: 50%;
  width: 180px;
  background-color: #469165;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.G-E-Access-Button:hover {
  box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.656);
  border: 4px solid #fea437;
}
/* Navigation Bar Completed */
.Background-Picture {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
}
.Status {
  height: 40px;
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  color: #30b868;
  position: absolute;
  top: 25%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
}
.Intro-textbox {
  height: 40%;
  width: 70%;
  position: absolute;
  top: 35%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.Heading-Text #Line01 {
  color: white;
  font-size: 90px;
  text-align: center;
}
.Heading-Text #Line02 {
  color: #30b868;
  font-size: 90px;
}
.Mini-text {
  color: white;
  font-size: 20px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
}
.Button-bundle {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.BB-Set {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 260px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  gap: 10px;
}
.Build-Button {
  background-color: #469165;
  border: none;
  color: white;
}
.Work-Button {
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid white;
  color: white;
}
.Build-Button:hover {
  background-color: #fea437;
  color: #ffffff;
  box-shadow: 8px 6px 20px rgba(255, 255, 255, 0.656);
}
.Work-Button:hover {
  background-color: #469165;
  color: #ffffff;
  box-shadow: 8px 6px 20px rgba(255, 255, 255, 0.656);
}
/* Hero section completed */
/* Main Section Started */

.Note{
  height: 80vh;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 40px;
}
.Title{
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Title h1{
 font-size: 62px;
 color: #001931;
}
.Title p{
font-size: 18px;
letter-spacing: 1px;
font-weight: 400;
color: #627382;
text-align: center;
}
.Card-Holder{
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.Card{
  height: 70%;
  width:20%;
  border-radius: 8px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:2px 2px  10px rgba(175, 170, 170, 0.176) ;
}
.C-Icon{
  height: 60px;
  width:60px;
  background-color: #F95555;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24%;
  
}
.C-Icon img{
  height: 50%;
  width: 50%;
}
.C-Text{
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 15%;
  flex-direction: column;
  justify-content: space-between;
  
}
.C-Text h1{
 
   font-size: 26px;
   font-weight: 600;
   color: #001931;
   text-align: center;
}
.C-Text p{
  height: auto;
  width: 90% ;
  font-size: 18px;
  font-weight: 400;
  color: #627382;
  text-align: center;
}
.Solution{
  height: 70vh;
  width: 100%;
}